In [83]:
import os
from collections import defaultdict
from datetime import date

import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from dotenv import load_dotenv
from geopy.geocoders import GoogleV3
from sklearn.cluster import KMeans
from IPython.display import Image

In [86]:
load_dotenv()
CLIENT_ID = os.environ.get('CLIENT_ID')
CLIENT_SECRET = os.environ.get('CLIENT_SECRET')
GOOGLE_GEO_API_KEY = os.environ.get('GOOGLE_GEO_API_KEY')

# Load and save html with zip codes

In [3]:
page_url = 'http://belpost.by/branch/post/otdeleniya-sviazi/'
html_page_name = 'otdeleniya-sviazi.html'

In [4]:
source_html = requests.get(page_url).text

with open(html_page_name, 'w') as html_file:
    html_file.write(source_html)

print('Save source page to html file - done!')

Save source page to html file - done!

In [5]:
with open(html_page_name) as html_file:
    soup = BeautifulSoup(html_file, 'html.parser')

print('soup is ready:', soup.title.text)

soup is ready: Адреса и режим работы отделений почтовой связи (ОПС) и пунктов почтовой связи производства “Минская почта” - Белпочта

# Zip Code Parser

In [6]:
table_body = soup.find_all('table', attrs={'border': 1})
len(table_body)

4

In [7]:
all_table_rows = table_body[1].find_all('tr')

In [44]:
error = 0
zip_codes_minsk_list = []
for i, row in enumerate(all_table_rows, 0):
    cols_all = row.find_all('td')
    try:
        address_full = cols_all[1].find_all('div')
        
        if address_full and len(address_full) > 1:
            
            if len(address_full) > 1:
                street = address_full[0].string
                if not street:
                    street = address_full[0].text
                zip_code = (address_full[1].string)
                if not zip_code:
                    zip_code = address_full[1].text
            else:
                continue

        elif not address_full or len(address_full) == 1:
            some_content = cols_all[1].contents
            if len(some_content) == 1:
                some_content = cols_all[1].find('div').contents

            address = [(q.string).replace('\xa0', ' ').strip() 
                       for q in some_content if q.string]
            
            street = address[0]
            zip_code = address[1]
        else:
            continue
            
        street = street.replace('\xa0', ' ').strip()
        zip_code = zip_code[:6]
        
        zip_codes_minsk_list.append([street, int(zip_code), 0.0, 0.0])
        
    except Exception as ex:
        error += 1
        print('Exception in address_full: %s' % ex, i)

print('errors:', error)
print('zip_codes_minsk_list:', len(zip_codes_minsk_list))

Exception in address_full: 'NoneType' object has no attribute 'contents' 0
Exception in address_full: list index out of range 116
errors: 2
zip_codes_minsk_list: 125

# Create Pandas data frame

In [36]:
pd_columns = ['address', 'zip-code', 'lat', 'lng']
df_minsk = pd.DataFrame(data=zip_codes_minsk_list, columns=pd_columns)

In [37]:
zip_codes = df_minsk['zip-code']
df_minsk[zip_codes.isin(zip_codes[zip_codes.duplicated()])]

                    address  zip-code  lat  lng
6    ул. Жуковского, 6, к.2    220007  0.0  0.0
7    ул. Жуковского, 6, к.2    220007  0.0  0.0
47        ул. Нестерова, 51    220047  0.0  0.0
48        ул. Нестерова, 51    220047  0.0  0.0
119    ул. Одинцова, 36,к.1    220136  0.0  0.0
120    ул. Одинцова, 36,к.1    220136  0.0  0.0

# delete repeated zip codes

In [38]:
df_minsk.sort_values('zip-code', inplace=True)
df_minsk.drop_duplicates(subset='zip-code', inplace=True)
df_minsk.reset_index(inplace=True)
df_minsk.head()

   index                address  zip-code  lat  lng
0      0      ул. Московская,16    220001  0.0  0.0
1      1    ул. Сторожевская, 8    220002  0.0  0.0
2      2      ул. Одинцова, 113    220003  0.0  0.0
3      3   ул. М.Танка,36, к.2,    220004  0.0  0.0
4      4  пр. Независимости, 46    220005  0.0  0.0

In [39]:
df_minsk.drop(columns=['index'], inplace=True)

In [40]:
print(len(df_minsk['zip-code'].unique()))
print(df_minsk.shape)

122
(122, 4)

In [41]:
# df_minsk.to_csv('zip_codes_minsk_list.csv')

In [42]:
df_minsk.head()

                 address  zip-code  lat  lng
0      ул. Московская,16    220001  0.0  0.0
1    ул. Сторожевская, 8    220002  0.0  0.0
2      ул. Одинцова, 113    220003  0.0  0.0
3   ул. М.Танка,36, к.2,    220004  0.0  0.0
4  пр. Независимости, 46    220005  0.0  0.0

# Find coordinates for all zip codes from Google Geo API

In [100]:
for i in range(df_minsk.shape[0]):
    try:
        address = df_minsk.iloc[i, 0] + ', Minsk'
        
        google_location = GoogleV3(api_key=GOOGLE_GEO_API_KEY)
        coords = google_location.geocode(address)
        
        df_minsk.iloc[i, 2:4] = float(coords.latitude), float(coords.longitude)

        print(i, coords.latitude, coords.longitude)
    except Exception as ex:
        print('Exception in google_location: %s' % ex)

0 53.887919 27.5381191
1 53.9129489 27.5554527
2 53.9006514 27.4275318
3 53.9086282 27.5294632
4 53.91281499999999 27.5807098
5 53.8835694 27.5664649
6 53.88244659999999 27.5497952
7 53.8999924 27.5586274
8 53.8899568 27.6112189
9 53.896201 27.5448597
10 53.8906326 27.550621
11 53.9238362 27.6102492
12 53.9242816 27.5911224
13 53.8670165 27.5112945
14 53.8970339 27.4914757
15 53.9003685 27.5644425
16 53.9144154 27.4348301
17 53.8971674 27.4521196
18 53.8822002 27.4324538
19 53.9311816 27.490671
20 53.8693841 27.650115
21 53.8829154 27.4395681
22 53.9280942 27.626541
23 53.8509136 27.5456794
24 53.8495964 27.4652115
25 53.8696759 27.6269446
26 53.8606217 27.4979263
27 53.8633581 27.5708799
28 53.91166639999999 27.5651746
29 53.8989762 27.5635574
30 53.9364251 27.7200152
31 53.922778 27.636838
32 53.8849653 27.5943195
33 53.90838249999999 27.5817171
34 53.9180661 27.529327
35 53.8950403 27.5203662
36 53.9023605 27.6171665
37 53.90108129999999 27.6015507
38 53.8767896 27.5316228
39 53.9325491 27.588974
40 53.8653621 27.4531202
41 53.85964560000001 27.4819672
42 53.925901 27.6166866
43 53.8769185 27.9023403
44 53.8437194 27.4815971
45 53.8991201 27.6495517
46 53.8847108 27.6832536
47 53.904034 27.5440831
48 53.9351814 27.6137549
49 53.8597499 27.4377264
50 53.8800006 27.4850347
51 53.9280284 27.5449867
52 53.88920299999999 28.0342349
53 53.9232234 27.4425548
54 53.9483484 27.70841
55 53.95884419999999 27.7392823
56 53.9277112 27.4327966
57 53.8899465 27.4157998
58 53.8891603 27.5511594
59 53.91109290000001 27.4152788
60 53.938932 27.4705863
61 53.91415379999999 27.4260906
62 53.84221609999999 27.493085
63 53.8732942 27.5382427
64 53.8408836 27.6308312
65 53.846539 27.56296
66 53.92849769999999 27.5548442
67 53.8886185 27.5209116
68 53.8819228 27.6121992
69 53.9117659 27.5879681
70 53.9197326 27.5981927
71 53.9137108 27.5043933
72 53.8988263 27.5060711
73 53.84253260000001 27.700881
74 53.8369855 27.6223192
75 53.8735393 27.4418273
76 53.9082458 27.5138828
77 53.9117454 27.4892871
78 53.8582219 27.6151604
79 53.9387814 27.6420066
80 53.897742 27.5794415
81 53.8800006 27.4850347
82 53.9527854 27.6175073
83 53.9054632 27.4973685
84 53.9205461 27.4929214
85 53.8704374 27.6026935
86 53.8632962 27.587141
87 53.8387407 27.6472342
88 53.860778 27.4299776
89 53.8557354 27.5202933
90 53.92825999999999 27.5745222
91 53.850789 27.606042
92 53.8649277 27.6663266
93 53.9472118 27.6290917
94 53.9209063 27.4795343
95 53.8768551 27.6185083
96 53.846514 27.5007829
97 53.8256279 27.7649054
98 53.8669422 27.6039403
99 53.8383575 27.56827
100 53.9404961 27.6055473
101 53.9324988 27.6438935
102 53.84474849999999 27.5342024
103 53.8676745 27.4839817
104 53.85846549999999 27.4632588
105 53.85871599999999 27.6335995
106 53.9540306 27.6321441
107 53.8426493 27.5040468
108 53.9089266 27.4732373
109 53.9191103 27.5650567
110 53.9290607 27.4737327
111 53.9484225 27.6717844
112 53.9110218 27.545203
113 53.8432922 27.5157416
114 53.9273803 27.4814039
115 53.958658 27.6050216
116 53.9035861 27.4550203
117 53.9008771 27.4358275
118 53.8798824 27.6690942
119 53.912468 27.6782432
120 53.9070955 27.4461731
121 53.9386772 27.6846188

In [101]:
df_minsk.isnull().sum()

address     0
zip-code    0
lat         0
lng         0
dtype: int64

In [102]:
0.0 in df_minsk.values

False

In [103]:
df_minsk.to_csv('zip_codes_minsk_list.csv')