In [11]:
import json
import math
import os
from datetime import date

import folium
import matplotlib.cm as cm
import matplotlib.colors as colors
import numpy as np
import pandas as pd
import requests
from IPython.display import Image
from dotenv import load_dotenv
from geopy.geocoders import Nominatim
from sklearn.cluster import KMeans

In [12]:
load_dotenv()
CLIENT_ID = os.environ.get('CLIENT_ID')
CLIENT_SECRET = os.environ.get('CLIENT_SECRET')
VERSION = date.today().strftime("%Y%m%d")

In [13]:
venue_id = '5756af9c498e47bf24348c6f'
url = 'https://api.foursquare.com/v2/venues/{}?&client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)

results = requests.get(url).json()['response']

In [ ]:
venue_data = results.get('venue', 0)
venue_data

In [19]:
#

In [20]:
minsk_venues_filtered = pd.read_csv('minsk_venues_filtered.csv')
minsk_venues_filtered.drop(columns=['Unnamed: 0'], inplace=True)
print(minsk_venues_filtered.shape)
minsk_venues_filtered.head()

(2187, 9)

,zip-code,neighborhood-latitude,neighborhood-longitude,venue-id,venue-name,venue-distance,venue-latitude,venue-longitude,venue-category
0,220001,53.887919,27.538119,4c8cf10555fba093fdb663ab,Баня № 7,192,53.889164,27.540151,Bath House
1,220001,53.887919,27.538119,55b29ffa498e519a9a539ac1,Hampton by Hilton,408,53.888951,27.544090,Hotel
2,220001,53.887919,27.538119,5b7d910167e5f2002cbaa676,Love Is Muffin,6,53.887879,27.538036,Café
3,220001,53.887919,27.538119,5756af9c498e47bf24348c6f,ціКава,358,53.888720,27.543410,Coffee Shop
4,220036,53.895040,27.520366,53653dee498ec5bdccef681a,Renaissance Minsk Hotel,622,53.892496,27.528823,Hotel

In [21]:
tdf = pd.DataFrame(data=np.zeros((2187, 4), dtype=float), columns=['prince-tier', 'likes', 'rating', 'dislike'])
tdf.head()

   prince-tier  likes  rating  dislike
0          0.0    0.0     0.0      0.0
1          0.0    0.0     0.0      0.0
2          0.0    0.0     0.0      0.0
3          0.0    0.0     0.0      0.0
4          0.0    0.0     0.0      0.0

In [22]:
df_minsk_venus_upd = pd.concat([minsk_venues_filtered, tdf], axis=1)
df_minsk_venus_upd.head()

,zip-code,neighborhood-latitude,neighborhood-longitude,venue-id,venue-name,venue-distance,venue-latitude,venue-longitude,venue-category,prince-tier,likes,rating,dislike
0,220001,53.887919,27.538119,4c8cf10555fba093fdb663ab,Баня № 7,192,53.889164,27.540151,Bath House,0.0,0.0,0.0,0.0
1,220001,53.887919,27.538119,55b29ffa498e519a9a539ac1,Hampton by Hilton,408,53.888951,27.544090,Hotel,0.0,0.0,0.0,0.0
2,220001,53.887919,27.538119,5b7d910167e5f2002cbaa676,Love Is Muffin,6,53.887879,27.538036,Café,0.0,0.0,0.0,0.0
3,220001,53.887919,27.538119,5756af9c498e47bf24348c6f,ціКава,358,53.888720,27.543410,Coffee Shop,0.0,0.0,0.0,0.0
4,220036,53.895040,27.520366,53653dee498ec5bdccef681a,Renaissance Minsk Hotel,622,53.892496,27.528823,Hotel,0.0,0.0,0.0,0.0

In [ ]:
# df_minsk_venus_upd.to_csv('df_minsk_venus_upd.csv')

In [24]:
def get_venus_details(df_list: list):
    for index, venue_id in enumerate(df_list):
        try:
            url = 'https://api.foursquare.com/v2/venues/{}?&client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
            results = requests.get(url).json()['response']
            venue = results.get('venue', None)

            if venue:
                v_prince = venue.get('price', 0)
                if v_prince:
                    vp_tier = v_prince['tier']
                    # vp_message = v_prince['message']
                    # print(vp_message, 'tier:', vp_tier)
                else:
                    vp_tier = 0

                likes = venue['likes'].get('count', 0)
                rating = venue.get('rating', 0)
                dislike = venue.get('dislike', 0)
                if not dislike:
                    dislike = 0
                else:
                    print("dislike: %s" % dislike)
                    dislike = 1

                df_minsk_venus_upd.at[index, 'prince-tier'] = vp_tier
                df_minsk_venus_upd.at[index, 'likes'] = likes
                df_minsk_venus_upd.at[index, 'rating'] = rating
                df_minsk_venus_upd.at[index, 'dislike'] = dislike
            else:
                print(index, 'Requests is None')
        except Exception as ex:
            print('Ex at: %s\n%s' % (index, ex))

In [ ]:
# df_minsk_venus_upd = pd.read_csv('df_minsk_venus_upd_v2.csv')
# df_minsk_venus_upd.head()

In [ ]:
get_venus_details(df_minsk_venus_upd['venue-id'][50:101])

In [28]:
# df_minsk_venus_upd.to_csv('df_minsk_venus_upd_v2.csv')

# TBA